@import '../constants';

.sectionElement {
    display: flex;
    align-items: center;
    padding: 12px 30px 12px 5px;
    margin-bottom: 32px;
    cursor: pointer;
    transition: background-color $standardTransition;
    border-radius: 50px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        background-color: $grayShade100;
    }
}

.sectionElementIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(black, 0.2);
    outline: none;
    flex-shrink: 0;
    padding: 12px;
    box-sizing: border-box;
}

.sectionElementDescription {
    color: $grayWeather;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightLight;
    letter-spacing: 0.6px;
}