@import '../constants';
@import '../mixins';

.button {
    display: block;
    padding: 14px 30px;
    background-color: $wakeSysBlue;
    border-radius: 50px;
    font-family: $fontFamily;
    font-weight: $fontWeightMedium;
    font-size: $fontSizeDefault;
    letter-spacing: 1.67px;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color $standardTransition, border-color $standardTransition;
    outline: none;

    @include breakpointBig {
        width: initial;
    }

    &:hover,
    &:focus {
        background-color: darken($wakeSysBlue, 10%);
    }
}

.buttonSmall {
    padding: 8px 24px;
    font-size: $fontSizeSmall;
}

.buttonBig {
    @include breakpointBig {
        padding: 24px 48px;
    }
}

.inverse {
    background-color: white;
    color: rgba($wakeSysBlue, .8);


    &:hover,
    &:focus {
        background-color: lighten($wakeSysBlue, 1%);
        color: white;
    }
}

.gutter {
    margin-bottom: 40px;
}