@import '../mixins';

.root {
    @include breakpointBig {
        display: grid;
        grid-template-columns: repeat(11, 1fr 16px) 1fr;
    }
}

.rootItem {
    grid-row: 1;
}

@for $column from 0 through 12 {
    .rootItemStart#{$column} {
        @if $column==1 {
            grid-column-start: #{$column};
        }

        @else {
            grid-column-start: #{$column * 2 - 1};
        }
    }

    .rootItemSpan#{$column} {
        grid-column-end: span #{$column * 2 - 1};
    }
}