@import '../constants';

.navigationListItem {
  margin-right: 30px;
}

.navigationLinkItem {
  color: white;
  text-decoration: none;
  letter-spacing: .67px;
  transition: color $standardTransition;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;

    top: 28px;
    left: 0;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 200ms ease-in;
  }

  &:hover,
  &:focus {
    &:after {
      background-color: white;
      transform: scaleX(1);
    }
  }

  &[aria-current="page"] {
    &:after {
      background-color: white;
      transform: scaleX(1);
    }
  }
}