@import '../constants';
@import '../mixins';

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.path {
    animation: dash 30s linear infinite;
}

.ownerVisual {
    position: relative;
    margin-top: 50px;
}

.ownerVisualTriangle {
    display: none;
    position: absolute;
    width: 100%;
    height: 410px;
    background-image: url('../assets/owner-visual-triangle.svg');
    top: 0;
    right: 0;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;

    @include breakpointBig {
        display: inline-block;
        width: 80%;
        margin-top: 10%;
    }
}

.ownerVisualImage {
    width: 100%;
    box-shadow: $boxShadowBig;
    border-radius: $borderRadius;

    @include breakpointBig {
        width: 58%;
        margin-left: 15%;
        margin-top: 4%;
    }
}


.ownerVisualSteps {
    display: none;

    @include breakpointBig {
        position: absolute;
        display: flex;
        width: 64%;
        height: 544px;
        top: -32%;
        right: -6%;
        z-index: -1;
        will-change: transform;
    }

    svg {
        width: 100%;
    }
}

.ownerWristbandLabel {
    position: absolute;
    top: 19%;
    right: 20%;
}

.ownerDatabaseLabel {
    position: absolute;
    right: 15%;
    top: 57%;
    color: white;
}