@import '../components/constants';
@import '../components/mixins';


.header {
  align-items: flex-start;

  @include breakpointBig {
    padding: 10vh;
  }

  div {
    max-width: 750px;
  }
}

.headline {
  text-align: left;
}

.sectionIntroduction {
  justify-content: space-around;
  margin-bottom: 40px;

  @include breakpointBig {
    align-items: flex-end;
    margin-bottom: 250px;
  }
}

.sectionOwner {
  @include breakpointBig {
    margin-bottom: 250px;
  }
}