@import '../components/constants';
@import '../components/mixins';

.subhealine {
  text-align: center;

  span {
    font-weight: $fontWeightBold;
  }
}

.content {
  @include breakpointBig {
    width: 400px;
  }
}

.headerParagraph {
  max-width: 520px;
  text-align: center;
  line-height: 1.9;
  letter-spacing: .9px;
}

.sectionIntroduction {
  justify-content: space-around;
  margin-bottom: 40px;

  @include breakpointBig {
    align-items: flex-end;
    margin-bottom: 250px;
  }
}

.sectionOwner {
  @include breakpointBig {
    margin-bottom: 250px;
  }
}

.sectionStaff {
  @include breakpointSmall {
    flex-direction: column-reverse;
  }

  .content {
    margin-bottom: 50px;
  }
}

.sectionUpgrade {
  flex-direction: column;
  align-items: center;
  background-color: $grayShade100;
  margin: 0;
  border-top: 1px solid $grayShade200;
  padding: 40px 20px;
}

.sectionUpgradeHeadline {
  text-align: center;
}

.sectionUpgradeSubHeadline {
  text-align: center;
  color: $grayWeather;
}

.contactFormOverlay {
  width: 660px;
}