.root {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(black, .3);
        z-index: -1;
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    z-index: 10;
    text-align: center;
    padding: 24px 16px;
}