@import '../constants';
@import '../mixins';

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    padding: 16px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.visual {
    height: 100vh;
    // TODO : align content to the left
}

.blue {
    @include breakpointSmall {
        background-image: linear-gradient(-141deg, #4A90E2 0%, #88BEFC 96%);
    }
}

.purple {
    @include breakpointSmall {
        background-image: linear-gradient(-141deg, #4D7ADC 0%, #C055FF 96%);
    }
}

.green {
    @include breakpointSmall {
        background-image: linear-gradient(-141deg, #4AE2BD 0%, #68CFD3 96%);
    }
}

.svg {
    display: none;

    @include breakpointBig {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 400px;
        height: 80vh;
        z-index: -1;
        overflow: hidden;
    }
}

.slopeShape {
    animation: fadein forwards 700ms ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: .1;
    }
}

.content {
    display: flex;
    flex-direction: column;

    @include breakpointBig {
        max-width: 960px;
    }
}

.contentLeft {
    align-items: flex-start;
}

.contentCenter {
    align-items: center;
}

.contentRight {
    align-items: flex-end;
}