.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    background-image: linear-gradient(to top, white 0%, rgba(206, 240, 255, 0.5) 100%);
}