$wakeSysBlue: #4a90e2;
$sunShine: #ffcf54;
$caipirinha: #6db553;
$bloodyRed: #f5695d;
$youtubeRed: #E34F19;

// gray shades
$grayShade100: #F9F9F9;
$grayShade200: #f4f4f4;
$grayShade300: #E1E1E1;
$intoDarkness: #696c76;
$grayWeather: #4e5056;
$coldGray: #9499a7;

$fontFamily: 'Roboto',
sans-serif;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeDefault: 16px;
$fontSizeSmall: 14px;

$borderRadius: 8px;

$boxShadowSoft: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
$boxShadowBig: 0 20px 40px 0 rgba(black, 0.13);

$standardTransition: 200ms ease-in;

$smallScreenMaxWidth: 767px;
$smallScreenMinWidth: $smallScreenMaxWidth+1;

:export {
    wakeSysBlue: $wakeSysBlue;
    smallScreenMaxWidth: $smallScreenMaxWidth;
    smallScreenMinWidth: $smallScreenMinWidth;
}