$wakeSysBlue: #4A90E2;
$grayWeather: #696C76;
$intoDarkness: #696C76;
$sunShine: #FFCF54;
$caipirinha: #6DB553;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$standardTransition: 200ms ease-in;

:export {
    wakeSysBlue: $wakeSysBlue;
}