@import '../constants';
@import '../mixins';

.introductionVisual {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

    @include breakpointBig {
        width: 260px;
    }
}

.introductionWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 300px;
    width: 100%;
}

.introductionTickets {
    font-size: $fontSizeSmall;
    color: $wakeSysBlue;
    letter-spacing: 0.6px;
    line-height: 1.8;
}

.introductionMembership {
    font-size: $fontSizeSmall;
    color: $bloodyRed;
    letter-spacing: 0.6px;
    line-height: 1.8;
}

.introductionDivider {
    height: 2px;
    margin: 20px 0;
    background-color: $grayShade200;
}

.introductionTotal {
    color: $grayWeather;
    font-weight: $fontWeightBold;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.introductionStatistics {
    align-self: center;
    width: 70%;
}