@import '../constants';
@import '../mixins';

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    overflow-y: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, .4);
}

.modal {
    position: relative;
    width: 960px;
    padding: 32px;
    border-radius: $borderRadius;
    background-color: white;
    overflow: auto;
    animation: slideIn $standardTransition;
    will-change: transform;

    @include breakpointSmall {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        border-radius: 0;
        width: auto;
        max-height: 100%;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}