@import '../constants';
@import '../mixins';


.headline {
    font-family: $fontFamily;
    margin: 0;
}

.h1 {
    font-size: calc(22px + (56 - 36) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    font-weight: $fontWeightBold;
    color: white;
    letter-spacing: 1.7px;
    margin-bottom: 18px;
    text-align: center;
    text-shadow: 0 2px 20px rgba(black, .08)
}

.h2 {
    font-size: 28px;
    font-weight: $fontWeightLight;
    color: $grayWeather;
    margin-bottom: 20px;
    letter-spacing: .77px;

    @include breakpointBig {
        font-size: 38px;
    }
}

.h3 {
    color: $wakeSysBlue;
    font-size: 16px;
    font-weight: $fontWeightLight;
    letter-spacing: .77px;
    margin-bottom: 40px;

    @include breakpointBig {
        font-size: 18px;
    }
}

.topic {
    display: block;
    position: relative;
    width: calc(100% - 45px);
    margin-bottom: 30px;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightLight;
    color: $wakeSysBlue;
    transform: translateX(45px);

    &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 25px;
        left: -15px;
        top: 11px;
        border-top: 1px currentColor solid;
        border-left: 1px currentColor solid;

    }
}

.h4 {
    color: $grayWeather;
    font-size: 18px;
    font-weight: $fontWeightMedium;
    letter-spacing: .77px;
    margin-bottom: 20px;
}

.withoutMargin {
    margin: 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}