@import '../constants';
@import '../mixins';


.staffVisualImageWrapper {
    margin-bottom: 20px;

    @include breakpointBig {
        width: 70%;
    }
}

.staffVisualImage {
    width: 100%;
    box-shadow: $boxShadowBig;
    border-radius: $borderRadius;
}

.staffVisualIllustration {
    display: none;

    @include breakpointBig {
        display: block;
        width: 40%;
        height: 400px;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.path {
    animation: dash 30s linear infinite;
    will-change: transform;
}